.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.login-form {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  max-width: 90%; /* Hace que el formulario sea responsive */
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
