<footer class="jumbotron">
  <div class="text-center text-white">
    <div class="container-fluid">
      <div class="row justify-content-center ">
        <div class="col-lg-8 mt-0.5">
          <p class="text-center">
            Creación del proyecto E-learning para la institución universitaria Tecnológico de Antioquia
          </p>
        </div>
      </div>
    </div>
    <div class="text-center p-5,5" style="background-color: #919c95;">
     Sebastian Gutierrez Rios
    </div>
  </div>
</footer>
